/Pilha-Array/build/
/teste/build/
/teste/dist/
/Pilha-Estrutura/nbproject/private/
/Pilha-Estrutura/build/
/Fila-Array/nbproject/private/
/Fila-Array/build/
/Fila-Estrutura/nbproject/private/
/Fila-Estrutura/build/
/ArvoreSimples/nbproject/private/
/SkipList/nbproject/private/
/SkipList/build/